.container {
  display: flex;
  justify-content: center;
  min-height: 100vh; /* Altura mínima de la ventana visible */
}
.component-container {
  flex: 1; /* El componente ocupará todo el espacio vertical restante */
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px; /* Margen negativo para compensar el padding de las columnas */
}

.column {
  flex: 1; /* Establece que cada columna ocupe el mismo ancho */
  padding: 0 15px; /* Añade un poco de espacio entre las columnas */
}
.centered {
  justify-content: center;
  align-items: center;
}
