<div class="container">
  <!-- Titulo del componente -->
  <div class="component-title">
    <hr>
    <h1 align="center">Bienvenido al Historial de Tienda
    <mat-icon>local_convenience_store</mat-icon>
    </h1>
    <p align="center">En esta sección podrás ver los productos que has comprado o los voluntariado que has hecho en la tienda.</p>
    <p align="center">Si tienes alguna duda, por favor, contacta con el administrador.</p>
    <hr>
  </div>
  <!-- Contenido del componente -->
  <div class="component-container">
    <section class="main-container">
      <!-- Contenedor Izquierdo -->
      <div class="left-container">
        <div class="mat-table-container">
          <h2 align="center" style="font-size: large">Historial de Compras
            <mat-table [dataSource]="publications_buy" class="mat-elevation-z8" matSort>
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> No. Trans. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="date_sell">
                <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{getFormartDate(element.date_sell)}} </mat-cell>
              </ng-container>
              <!-- Id Column -->
              <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="total_cost">
                <mat-header-cell *matHeaderCellDef> Costo </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.total_cost}}
                <mat-icon>savings</mat-icon>
                </mat-cell>
              </ng-container>
              <!-- Weight Column -->
              <ng-container matColumnDef="quantity">
                <mat-header-cell *matHeaderCellDef> Unidades </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{(element.quantity)}} </mat-cell>
              </ng-container>
              <!-- Symbol Column -->
              <ng-container matColumnDef="username_seller">
                <mat-header-cell *matHeaderCellDef> Creador Publicacion </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.username_seller}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </h2>
          <h2>
           Total de Dinero Gastado: {{total_gastado_publications}} <mat-icon>savings</mat-icon>
          </h2>
        </div>
      </div>
      <div class="right-container">
        <div>
          <h2 align="center" style="font-size: large">Historial Voluntariados
            <mat-table [dataSource]="publications_volunter" class="mat-elevation-z8" matSort>
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> No. Trans. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="date_sell">
                <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{getFormartDate(element.date_sell)}} </mat-cell>
              </ng-container>
              <!-- Id Column -->
              <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="total_cost">
                <mat-header-cell *matHeaderCellDef> Recompensa </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.total_cost}}
                  <mat-icon>savings</mat-icon>
                </mat-cell>
              </ng-container>
              <!-- Weight Column -->
              <ng-container matColumnDef="quantity">
                <mat-header-cell *matHeaderCellDef> Unidades </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{(element.quantity)}} </mat-cell>
              </ng-container>
              <!-- Symbol Column -->
              <ng-container matColumnDef="username_seller">
                <mat-header-cell *matHeaderCellDef> Creador Publicacion </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.username_seller}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumnsVolunter"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsVolunter;"></mat-row>
            </mat-table>
          </h2>
          <h2>
            Total de Coins Obtenidos: {{total_obtenido_volunter}}
          </h2>
        </div>
      </div>
    </section>
  </div>
</div>
