<div class="container">
  <!-- Titulo del componente -->
  <div class="component-title" align="center">
    <hr>
    <h1>Bienvenido a la Tienda Virtual de BarterPlace
    <mat-icon>store</mat-icon>
    </h1>
    <p>En esta sección podrás encontrar todos los productos que tenemos disponibles para ti.</p>
    <p>¡No dudes en contactar a los vendedores para obtener más información!</p>

    <div class="filtro">
      <mat-form-field class="example-full-width">
        <mat-label>Categorias</mat-label>
        <mat-select [(value)]="categorie_selected">
          <mat-option *ngFor="let category of categories" [value]="category.category_name">
            {{category.category_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon (click)="findCategory()" class="icono" matTooltip="Buscar por categoria" matSuffix>search</mat-icon>
      <!-- Filtro de publicaciones, por nombre-->
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="name_find">
      </mat-form-field>
      <mat-icon (click)="findName()" class="icono" matTooltip="Buscar por nombre"
                matSuffix>search</mat-icon>
      <mat-icon (click)="findAll()" class="icono" matTooltip="Mostrar todas las publicaciones"
                matSuffix>refresh</mat-icon>
    </div>
    <div class="filtro2">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle (click)="getAllMyPublications()" value="Todas">Todas</mat-button-toggle>
          <mat-button-toggle (click)="getPublicVentas()" value="Venta">Ventas</mat-button-toggle>
          <mat-button-toggle (click)="getPublicCompras()" value="Compra">Compra</mat-button-toggle>
          <mat-button-toggle (click)="getPublicVoluntariado()" value="Voluntariado">Voluntariado</mat-button-toggle>
          <mat-button-toggle (click)="getPublicServicios()" value="Servicio">Servicio</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <hr>
  </div>
  <!-- Contenido del componente -->
  <div class="publication-card-container">
    <mat-card class = 'publication-card' *ngFor="let publication of publications">
      <mat-card-header>
        <mat-card-title> Nombre: {{publication.title}}</mat-card-title>
        <mat-card-subtitle>{{publication.username}}</mat-card-subtitle>
      </mat-card-header>
      <img class='publication-image' mat-card-image src='{{publication.foto}}'>
      <mat-card-content class="publication-content">
        <p>Unidades Disponibles: {{publication.quantity_stock}} </p>
        <p class="publication-price-content">
          <mat-icon class="publication-money-icon">savings</mat-icon>
          {{publication.unit_price}} c/u
        </p>
        <mat-divider></mat-divider>
        <p>{{publication.description}} </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-icon  (click)="comprarPublication(publication)" *ngIf="publication.publication_type_id==1"
                  matTooltip="Comprar" style="color: green; cursor: pointer;">shopping_cart</mat-icon>
        <mat-icon (click)="ofertarPublication(publication)" *ngIf="publication.publication_type_id==2"
                  matTooltip="Ofertar" style="color: green; cursor: pointer;">attach_money</mat-icon>
        <mat-icon (click)="voluntariarPublication(publication)" *ngIf="publication.publication_type_id==3"
                  matTooltip="Postularme" style="color: green; cursor: pointer;">volunteer_activism</mat-icon>
        <mat-icon (click)="contactarPublication(publication)" *ngIf="publication.publication_type_id==4"
                  matTooltip="Contactar" style="color: green; cursor: pointer;">supervisor_account</mat-icon>
        <mat-icon (click)="reportarPublication(publication)" matTooltip="Reportar"
                  style="color: red; cursor: pointer;">report</mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="publications.length==0">
    <h1>No se encontraron publicaciones
      <mat-icon>sentiment_very_dissatisfied</mat-icon>
    </h1>
  </div>
</div>
<br><br><br>
