<div class="titulo" align="center">
  <h1>Publicaciones</h1>
</div>
<section class="contenido">
  <div class="mostrador">
    <div class="fila">
      <div  class="item">
        <span class="precio">Username: </span>
        <br>
        <span  class="precio">Sin Nombre</span>
        <div class="contenedor-foto">
          <img src="https://www.w3schools.com/howto/img_avatar.png" alt="profile picture">
        </div>
        <p class="descripcion">Sin Descripcion</p>
      </div>
    </div>
  </div>
</section>
