<!-- Admin Menu -->
<div style="background-color:  #D0DDD7">
  <!-- Barra de navegacion, con color hexadecimal -->
  <mat-toolbar class="mat-toolbar-centered" style="background-color: #C5D9E2 ">
    <!-- Imagen logo-->
    <mat-icon (click)="changePantalla('')" style="cursor: pointer" matTooltip='Home'>shopping-bag</mat-icon>
    <!-- Name App-->
    <span (click)="changePantalla('')" style="cursor: pointer" matTooltip='Home' >Bienvenido {{this.user_admin.username}}</span>

    <!-- Foto de perfil hasta la derecha imagen angular material-->
    <hr>
    <button mat-icon-button [matMenuTriggerFor]="menu_2" class="example-icon" matTooltip='Solicitudes'>
      <mat-icon>more_options</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu_1" class="example-icon" matTooltip='Mi Perfil'>
      <div *ngIf="user_admin.profile_picture==null">
      <mat-icon>account_circle</mat-icon>
      </div>
      <div *ngIf="user_admin.profile_picture!=null">
        <mat-icon>
          <img [src]="user_admin.profile_picture" alt="profile" style="border-radius: 100%; width: 25px; height: 25px">
        </mat-icon>
      </div>
    </button>

  </mat-toolbar>
  <mat-menu #menu_1="matMenu">
    <button (click)="changePantalla('')" mat-menu-item>Ver Perfil
      <mat-icon>account_box</mat-icon>
      <!--La accion del boton -->
    </button>
    <button (click)="this.changePantalla('managament-user')" mat-menu-item>Administrar Usuarios
      <mat-icon>people</mat-icon>
    </button>
    <button (click)="changePantalla('create-user')" mat-menu-item>Crear Usuario
      <mat-icon>perm_identity</mat-icon>
    </button>
    <button (click)="cerrarSesion()" mat-menu-item>Cerrar Sesion
      <mat-icon>logout</mat-icon>
    </button>

  </mat-menu>
  <!-- menu de tareas de admin -->
  <mat-menu #menu_2="matMenu">
    <button (click)="changePantalla('add-category')" mat-menu-item>Agregar Categorias
      <mat-icon>add</mat-icon>
    </button>
    <button (click)="changePantalla('add-package-money')" mat-menu-item>Agregar Combo Monedas
      <mat-icon>add</mat-icon>
    </button>
    <button (click)="changePantalla('report-users')" mat-menu-item>Ver Reporte de Usuarios
      <mat-icon>report_problem</mat-icon>
    </button>
    <button (click)="changePantalla('request-publish')" mat-menu-item>Ver Solicitudes de Publicaciones
      <mat-icon>report</mat-icon>
    </button>
    <button (click)="changePantalla('request-seller')" mat-menu-item>Ver Solicitudes de Vendedores
      <mat-icon>bug_report</mat-icon>
    </button>
  </mat-menu>

      <!-- Admin Views -->
    <div class="container" style="background-color: #D0DDD7">
      <div *ngIf="this.getPantalla()== 'managament-user'">
        <app-management-user></app-management-user>
      </div>
      <div *ngIf="this.getPantalla()== ''">
        <app-my-profile></app-my-profile>
      </div>
      <div *ngIf="this.getPantalla()=='create-user'">
        <app-create-user></app-create-user>
      </div>
      <div *ngIf="this.getPantalla()=='request-publish'">
        <app-request-publish></app-request-publish>
      </div>
      <div *ngIf="this.getPantalla()=='report-users'">
        <app-report-users></app-report-users>
      </div>
      <div *ngIf="this.getPantalla()=='request-seller'">
        <app-request-seller></app-request-seller>
      </div>
      <div *ngIf="this.getPantalla()=='add-category'">
        <app-category-add></app-category-add>
      </div>
      <div *ngIf="this.getPantalla()=='add-package-money'">
        <app-package-money-add></app-package-money-add>
      </div>
    </div>


      <!-- Footer, que este hasta abajo de la pagina y centrando el div -->
      <div style="position: fixed; bottom: 0; width: 100%;">
        <mat-toolbar class="mat-toolbar-centered" style="background-color: #C5D9E2">
          <!-- centrar el texto-->
          <div class="centered">
            <span>Todos los derechos reservados &copy; 2024</span>
            <hr>
            <span>Desarrollado por: Danimo #14</span>
          </div>
        </mat-toolbar>
      </div>
</div>




