<div class="container">
  <!-- Titulo del componente -->
  <div class="component-title">
    <hr>
    <h1 align="center">Bienvenido a Mi Monedero
    <mat-icon>account_balance_wallet</mat-icon>
    </h1>
    <h4 align="center">Aqui podras cargar dinero con tus tarjetas y podras comprar el paquete de nuestras monedas!</h4>
    <hr>
  </div>
  <!-- Contenido del componente -->
  <div class="component-container">
      <div style="font-size: large"> Recarga Mediante una tarjeta:

      </div>
      <div style="font-size: large"> Te ofrecemos los siguientes paquetes de monedas:


      </div>
  </div>
  <br><br><br><br><br><br>
</div>
